In [17]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.datasets import imdb

In [18]:
tf.__version__

'2.4.1'

In [19]:
number_of_words = 20000
max_len = 100

`Number_of_words` is nummber of words which we want to import from the imdb dataset

`max_len` is maximum length of the total length of the sequence after padding
for example: we have 5 words and we provide 100 max_len so the text will be in the sequence of 100 emlements

## Loading_the_IMDB_Dataset

In [20]:
(X_train, y_train), (X_test, y_test) = imdb.load_data(num_words=number_of_words)

> is you can see that we load the imdb dataset and we specify that number_of_words=2000. which means that we are not loading all the words from the dataset. we are just loading 2000 words from the imdb dataset

In [21]:
X_train[1]

[1,
 194,
 1153,
 194,
 8255,
 78,
 228,
 5,
 6,
 1463,
 4369,
 5012,
 134,
 26,
 4,
 715,
 8,
 118,
 1634,
 14,
 394,
 20,
 13,
 119,
 954,
 189,
 102,
 5,
 207,
 110,
 3103,
 21,
 14,
 69,
 188,
 8,
 30,
 23,
 7,
 4,
 249,
 126,
 93,
 4,
 114,
 9,
 2300,
 1523,
 5,
 647,
 4,
 116,
 9,
 35,
 8163,
 4,
 229,
 9,
 340,
 1322,
 4,
 118,
 9,
 4,
 130,
 4901,
 19,
 4,
 1002,
 5,
 89,
 29,
 952,
 46,
 37,
 4,
 455,
 9,
 45,
 43,
 38,
 1543,
 1905,
 398,
 4,
 1649,
 26,
 6853,
 5,
 163,
 11,
 3215,
 10156,
 4,
 1153,
 9,
 194,
 775,
 7,
 8255,
 11596,
 349,
 2637,
 148,
 605,
 15358,
 8003,
 15,
 123,
 125,
 68,
 2,
 6853,
 15,
 349,
 165,
 4362,
 98,
 5,
 4,
 228,
 9,
 43,
 2,
 1157,
 15,
 299,
 120,
 5,
 120,
 174,
 11,
 220,
 175,
 136,
 50,
 9,
 4373,
 228,
 8255,
 5,
 2,
 656,
 245,
 2350,
 5,
 4,
 9837,
 131,
 152,
 491,
 18,
 2,
 32,
 7464,
 1212,
 14,
 9,
 6,
 371,
 78,
 22,
 625,
 64,
 1382,
 9,
 8,
 168,
 145,
 23,
 4,
 1690,
 15,
 16,
 4,
 1355,
 5,
 28,
 6,
 52,
 154,
 462,
 33,
 89,
 78,
 285,
 16,
 145,
 95]

> You can see that the X_train dataset is already in one_hot representation because the dataset is availible built-in in keras API

> we need to Convert this into word_embadding (Featurized representation)
* for that we need to preprocess the data convert his into sequence and than embedd

> every text is not in the same length so we most need to convert these text into the same lenght

## Padding all sequences to be the same length

padding is a technique in which we convert the text into the same length. because all the text is not equal length. so by pad_sequence we give a proper length to the text

In [15]:
X_train = tf.keras.preprocessing.sequence.pad_sequences(X_train, maxlen=max_len)

In [16]:
X_test = tf.keras.preprocessing.sequence.pad_sequences(X_test, maxlen=max_len)

* The dataset has been sequenced and ready to embedd

now we sequenced our dataset with padding. 
`Explanation` "we load 2000 words from the imdb dataset and the above cell we sequeced our data with data.. meaning that all the text is not in the same length.\
`Example`
1. my name is amir hamza haq
2. working on AI

you can see that these two text/sentences are not in the same length. to train oour model for text we most convert these text into that same length..
> for that we declare `maxlen` which is 100 in the above cell..

so this will balance the length of words of all the 2000 words \
`example` \
    `Text`
1. my name is amir hamza haq
2. working on AI\
`one_hot_representation/converted into numbers` 
1. [23,234,23534,21334,435,245]
2. [234,252,563]\
`Sequeced with padding=10` 
1. [0, 0, 0, 0, 23,234,23534,21334,435,245]
2. [0, 0, 0, 0, 0, 0, 0,234,252,563]\

> you can see that the length of all the text is 10.. by simplt adding 0 (zeros) to the text