In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('C:\\Users\\Sorcim\\Documents\\train_labels.csv')
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,564240162_jpg.rf.000e9f582660fdab73011b74162cd...,416,416,7,259,201,279,224
1,564240162_jpg.rf.000e9f582660fdab73011b74162cd...,416,416,0,281,210,303,234
2,564240162_jpg.rf.000e9f582660fdab73011b74162cd...,416,416,1,304,222,322,245
3,219291848_jpg.rf.00016ea82dafe7d42e1ec53f0a631...,416,416,4,173,118,202,154
4,219291848_jpg.rf.00016ea82dafe7d42e1ec53f0a631...,416,416,7,196,103,225,139

In [8]:
df['class'].value_counts(ascending=False)

13    1322
11    1313
10    1289
9     1280
7     1273
4     1267
6     1267
8     1262
5     1258
0     1255
2     1241
1     1220
12    1220
3     1210
14    1208
Name: class, dtype: int64